.grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.grid__col {
    display: flex;
    align-items: center;
    // margin: map-get($grid, 'row-padding') 8px;
    width: 100%;
}

@mixin col-generate($size) {
    @for $i from 1 through 12 {
        .grid__col#{$size}_#{$i} {
            // flex-grow: 0;
            flex-basis: calc(-16px + 100% *#{$i}* 1 / 12);

            flex-grow: 1;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    @include col-generate('sm');
    .grid__col {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 300px) {
    @include col-generate('xs');
}

@media screen and (min-width: 576px) {
    @include col-generate('sm');
}

@media screen and (min-width: 960px) {
    @include col-generate('md');
    .sidebarOpen {
        @include col-generate('sm');
    }
}

@media screen and (min-width: 1024px) {
    @include col-generate('lg');
    .sidebarOpen {
        @include col-generate('md');
    }
}

@media screen and (min-width: 1366px) {
    @include col-generate('xl');
    .sidebarOpen {
        @include col-generate('lg');
    }
}

@media screen and (min-width: 1440px) {
    @include col-generate('xxl');
    .sidebarOpen {
        @include col-generate('xl');
    }
}
